$themes: (
        Light: (
                color-primary: #67798a,
                color-primary-light: #92BBF3,
                color-primary-deep: #4F77AE,
                color-primary-lighter: #edf6ff,
                color-success: #30ED69,
                color-success-light: #8AF6AB,
                color-success-deep: #48B268,
                color-warn: #FFAF34,
                color-warn-light: #FFD38F,
                color-warn-deep: #BF924D,
                color-error: #FF3333,
                color-error-light: #FF8F8F,
                color-error-deep: #BF4C4C,
                color-info: #929292,
                color-info-light: #C8C8C8,
                color-info-deep: #6D6D6D,
                color-disabled: #EBEAE7,
                color-disabled-light: #F5F4F3,
                color-disabled-deep: #B0B0AE,
                color-title:#000,
                background-color:#eee,
                background-color-deep:#ddd,
                background-color-light:#fff,
        ),
        Dark: (
                //color-primary: #f4f6f7,
                color-primary: #2e394a,
                color-primary-font: #ffffff,
                color-primary-deep: #4F77AE,
                color-primary-lighter: #edf6ff,
                color-success: #30ED69,
                color-success-light: #8AF6AB,
                color-success-deep: #48B268,
                color-warn: #FFAF34,
                color-warn-light: #FFD38F,
                color-warn-deep: #BF924D,
                color-error: #FF3333,
                color-error-light: #FF8F8F,
                color-error-deep: #BF4C4C,
                color-info: #929292,
                color-info-light: #C8C8C8,
                color-info-deep: #6D6D6D,
                color-disabled: #EBEAE7,
                color-disabled-light: #F5F4F3,
                color-disabled-deep: #B0B0AE,
                color-title:#000,
                color-active-menu-font: #5997fa,
                //color-active-menu: #e7f2fe,
                color-active-menu: #5997fa,
                background-color:#f5f7f8,
                background-color-deep:#ddd,
                background-color-light:#fff,
                tabs-bar-color: #FFF,
        ),
        RiptideCaper : (
                mainColor: #13e3ce, //主题色
                activeMainColor: #34e3c7, //页面主标题色/重要文字/弹框标题色
                titleColor: #53e4c0, //默认字体色/二级信息字体色
                infoColor: #71e4b9, //菜单列表背景色
                menuBackgroundColor:#90e5b2, //
                menuIconBackgroundColor:#b1e5ac, //默认字体色/二级信息字体/标签默认色
                divInfoColor: #d0e6a5, //控件不可用/禁用状态/不可点击
                color-primary: #13e3ce,
                color-primary-light: #34e3c7,
                color-primary-deep: #4F77AE,
                color-primary-lighter: #edf6ff,
                color-success: #30ED69,
                color-success-light: #8AF6AB,
                color-success-deep: #48B268,
                color-warn: #FFAF34,
                color-warn-light: #FFD38F,
                color-warn-deep: #BF924D,
                color-error: #FF3333,
                color-error-light: #FF8F8F,
                color-error-deep: #BF4C4C,
                color-info: #929292,
                color-info-light: #C8C8C8,
                color-info-deep: #6D6D6D,
                color-disabled: #EBEAE7,
                color-disabled-light: #F5F4F3,
                color-disabled-deep: #B0B0AE,
                color-title:#000,
                background-color:#eee,
                background-color-deep:#ddd,
                background-color-light:#fff,
        )
);
